/* CSS for VideoBox */
.video-modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000 !important;  /* Ensure this is higher than any other element's z-index */
  }
  
  .video-content {
    background: white;
    padding: 16px;
    position: fixed; /* Ensure the video container is positioned relative */
  }